.h2 {
  margin-top: 30px !important;
  margin-bottom: 10px;
  font-size: 42px;
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .h2 {
    margin-top: 16px !important;
    margin-bottom: 30px;
    font-size: 26px;   
  }
}
